@media screen and (max-width:1400px){
  .wrap .profile{flex-wrap: wrap;}
  .wrap .profile .blank{width: 100%; padding-top: 150px;}
  .wrap .profile h2{font-size: 220px;}
  .wrap .profile h2:after{display: none;}
}

@media screen and (max-width:1200px){
  .wrap .skill .item.myProfile p{font-size: 14px;}
  .wrap .skill .item h2{margin-bottom: 15px; font-size: 20px;}
  .item.myProfile .sloganBox{padding-left: 80px;}

  .wrap .skill .item.career p,
  .wrap .skill .item.award p{font-size: 12px;}

  .wrap .skill .item.skillBar .pSkill h2, 
  .wrap .skill .item.skillBar .dSkill h2{font-size: 18px; margin-bottom: 10px;}
}
@media screen and (max-width:950px){
  .wrap .profile h2{font-size: 150px; padding-bottom: 100px; line-height: 0.9em;}
  .wrap .skill{grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1.2fr 1.2fr; gap: 20px 50px;}
  .wrap .skill .item{padding: 50px;}
  .wrap .skill .item.photo{display: none;}
  .wrap .skill .item.award{display: none;}
  .wrap .skill .item.career{grid-column-start: 1; grid-column-end: 3; padding-left: 100px;}
  .wrap .skill .item.career p{font-size: 14px;}
  .wrap .skill .item.myProfile{grid-column-start: 1; grid-column-end: 3; text-align: left; padding-left: 100px;}
  .wrap .skill .item.skillBar{grid-column-start: 1; grid-column-end: 3; padding-left: 100px;}
  .item.myProfile .sloganBox{padding: 0;}

  .portfolio .titBox{width: 100%; justify-content: center; padding-top: 70px;}
  .portfolio .potBox{width: 100%; padding: 0 70px;}
  .portfolio .btnBox{justify-content: center;}
  .portfolio .titBox h2{text-align: center;}
  .portfolio .titBox p{text-align: center;}
}