html {scroll-behavior: smooth;}
.wrap{width: 100%; height: auto; min-height: 100vh; background: #eae6df;}
.sideNav{position: fixed; width: 70px; height: 100vh; background: #424266; z-index: 1;}
.sideNav .sideMenu{position: absolute; color: #eae6df; font-size: 30px; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: all 0.3s ease-in;}
.sideNav_2{position: fixed; left: 70px; width: 0px; height: 100vh; background: #424266; transition: all 0.6s ease-in-out; z-index: 1;}
.sideNav_2 .category{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;}
.sideNav_2 .category li{text-align: center; padding: 5px 10px;}
.sideNav_2 .category li a{color: #eae6df;}
.sideNav_2 .logoBox{width: 100%; position: absolute; left: 5px; top: 35%; color: #eae6df; font-size: 30px; text-align: center; display: none; transition: all 0.4s ease;}

/* profile section */
.wrap .profile{width: 100%; height: 100vh; display: flex; align-items: center;  padding-right: 10px;}
.wrap .profile .title{width: 100%; padding-right: 50px;  justify-content: flex-end;}
.wrap .profile h2{width: 100%; text-align: right; font-size: 250px; font-family: 'Cinzel'; font-weight: 400; line-height: 0.8em; font-style: italic; letter-spacing: -20px; }
.wrap .profile .blank{width: 70%; display: flex; justify-content: flex-end;}
.wrap .profile .blank .dropping-texts{width: 100px; font-weight: bold; display: inline-block; font-size: 22px;}
.wrap .profile .blank .dropping-texts > span{position: absolute; font-size:0px; opacity: 0; transition: all 0.4s;}

.dropping-texts > span:nth-child(1) {
  animation: roll 5.5s ease-in infinite 0s;
}
.dropping-texts > span:nth-child(2) {
  animation: roll 5.5s ease-in infinite 1.5s;
}

@keyframes roll {
  0% {font-size:0px; opacity:0; margin-left:-30px; margin-top:0px;
 transform: rotate(-25deg);}
  3% {opacity:1; transform: rotate(0deg);}
  5% {font-size:inherit; opacity:1; margin-left:0px; margin-top:0px;}
  20% {font-size:inherit; opacity:1; margin-left:0px; margin-top:0px;transform: rotate(0deg);}
  27% {font-size:0px; opacity:0.5; margin-left:20px;margin-top:100px;}
  100% {font-size:0px; opacity:0; margin-left:-30px; margin-top:0px;transform: rotate(15deg);}
}

@keyframes roll2 {
  0% {font-size:0px; opacity:0; margin-left:-30px; margin-top:0px;transform: rotate(-25deg);}
  3% {opacity:1; transform: rotate(0deg);}
  5% {font-size:inherit; opacity:1; margin-left:0px; margin-top:0px;}
  30% {font-size:inherit; opacity:1; margin-left:0px; margin-top:0px;transform: rotate(0deg);}
  37% {font-size:500px; opacity:0; margin-left:-1000px; margin-top:-400px;}
  100% {font-size:0px; opacity:0; margin-left:-30px; margin-top:0px;transform: rotate(15deg);}
}

/* skill section */
.wrap .skill{width: 100%; height: 100vh; background: #eae6df; display: grid; grid-template-columns: 1.3fr 1fr 1fr; grid-template-rows: 1fr 1.5fr; gap: 20px 50px;}
.wrap .skill .item{_background: #ddd; position: relative; padding: 200px 30px 30px;}
.wrap .skill .item:nth-child(5){grid-column-start: 2; grid-column-end: 4;}

.wrap .skill .item.myProfile{display: flex; text-align: right; flex-direction: column;}
.item.myProfile h2{width: 100%;}
.item.myProfile p{width: 100%;}
.wrap .skill .item.award{}

.wrap .skill .item.skillBar{width: 100%; display: flex;  flex-direction: column; flex-wrap: wrap; align-items: flex-start;}
.wrap .skill .item.skillBar h2{width: 100%; font-size: 30px; margin-bottom: 30px;} 
.wrap .skill .item.skillBar .skillBox{width: 100%; display: flex;}
.wrap .skill .item.skillBar .pSkill,
.wrap .skill .item.skillBar .dSkill{width: 50%; display: flex; flex-wrap: wrap; flex-direction: column;}
.wrap .skill .item.skillBar .pSkill.bar{width: 100%;}
.wrap .skill .item.skillBar .pSkill h2,
.wrap .skill .item.skillBar .dSkill h2{margin-bottom: 30px; font-size: 16px;}

.bar{padding: 10px 0;}
.bar .barBorder{width: 450px; height: 10px; background: #eae6df; border-radius: 30px; border: 1px solid #424266; position: relative;} 
.bar .progress{position: absolute; width: 0; height: 10px; top: 0; left: 0; background: #424266; border-radius: 30px;}